{% extends 'accounts/main.html' %}

{% block content %}

<br>

<div class="container">
    <div class="row">
      <div class="col-sm-3 bg-dark text-white">
        <p>Name: {{partTimer.name}}</p>
        <p>HP number: {{partTimer.phone}}</p>
        <p>Email: {{partTimer.email}}</p>

      </div>
      <div class="col-sm">
        <h1 class = "text-center">Deliveries accepted by {{partTimer.name}}</h1>
        <table class="table table-sm table-bordered table-dark">
            <thead>
              <tr>
                <th scope="col">Request ID</th>
                <th scope="col">Item name</th>
                <th scope="col">Item description</th>
                <th scope="col">Pick up location</th>
                <th scope="col">Item drop off location</th>
                <th scope="col">Status</th>
        
              </tr>
            </thead>
            <tbody>
                {% for i in delivery %}
                <tr>
                    <th scope = "row">
                      {{ i.id }}
                      <a href="{% url 'completeDelivery' i.id %}" class = "btn btn-light btn-sm active" role="button" aria-pressed="true">Complete</a>

                    </th>
                    <td>{{i.itemName}}</td>
                    <td>{{i.itemDescription}}</td>
                    <td>{{i.pickUpLocation}}</td>
                    <td>{{i.dropOffLocation}}</td>
                    <td>{{i.status}}</td>
                </tr>
                {% endfor %}
        
            </tbody>
          </table>
      </div>
    </div>
    <a href="{% url 'partTimeHome' %}" class = "btn btn-light btn-sm active" role="button" aria-pressed="true">Back to Homepage</a>
  </div>

  


{% endblock %}